body {
	background-color: #4E585F;
	/*overflow-y: hidden;*/
}

/*-------------- Navbar styling ---------------------*/
nav {
	background-color: #424243;
	height: 225px;
	border-radius: 5px;
}

ul {
	text-align: center;
	background-color: #fff;;
	position: absolute;
	margin-top: 30px;
	padding: 15px;
	width: 97%;
	margin-left: 5px;
	border-radius: 5px;

}

ul h2 {
	font-family: 'Chivo', sans-serif;
}

li {
	font-size: 24px;
	display: inline-block;
	padding: 15px;
}

a {
	color: black;
	text-decoration: none;
	font-family: 'Rosario', sans-serif;
}

a:hover {
	color: grey;
}


#span-bully {
	color: #EE8A3D;
}

#span-bridges {
	color: #EEAC3D;
}

/*-------------- Main-container styling ---------------------*/
main {
	height: auto;
	width: 76%;
	border: 2px solid black;
	padding: 15px;
	margin: 0 auto;
	margin-top: 15px;
	border-radius: 10px;
	text-align: center;
}

h1 {
	font-family: 'Carrois Gothic SC', sans-serif;
	text-align: center;
}

/*-------------- ImageContainer styling ---------------------*/
#imageContainer {
	height: 550px;
	width: 60%;
	background-color: #eee;
	margin: 0 auto;
	border-radius: 5px;
	padding: 15px;
	margin-top: 10px;
}

#imageContainerHeader {
	text-align: center;
	padding: 5px;
	color: #EE8A3D;
	font-size: 24px;
	font-family: 'Rosario', sans-serif;
}

.image {
	margin-left: 115px;
}

.auth-image {
	width: 189px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-right: 25px;
	text-align: center;
}

/*-------------- Card Flip styling ---------------------*/
.card {
  margin: 20px 0 0;
  max-width: 640px;
}
.card-container {
	position: relative;
  height: 0;
  padding-bottom: 75%;
}
.card .front,
.card .back {
  position: absolute;
  top: 0;
	left: 0;
	max-width: 640px;
	max-height: 480px;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transition: all .5s ease-out;
}
.card .front {
	transform: perspective(900px) rotateY(-180deg);
}
.card .back {
	width: 100%;
	background-color: #242424;
  color: #fff;
	transform: perspective(900px) rotateY(0deg);
}
.card.not-flipped .front {
	transform: perspective(900px) rotateY(0deg);
}
.card.not-flipped .back {
	background-color: #000;
  color: #000;
	transform: perspective(900px) rotateY(180deg);
}
.card .back h2 {
	padding: 60px 18px 6px;
}
.card .back p {
	padding: 0 18px;
	line-height: 22px;
}
.card .cancel-card {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	font: 24px;
	color: #999;
	cursor: pointer;
}
.no-csstransforms3d .card.not-flipped .front {
	z-index: 10;
}
@media (max-width: 979px) {
	.card {
		/*margin: 20px 20px 0;*/
		margin: auto;
	}
	.card .back h2 {
		padding: 18px 18px 0;
		font-size: 18px;
	}
	.card .back p {
		font-size: 14px;
		line-height: 18px;
	}
}
@media (max-width: 479px) {
	.card .back h2 {
		padding: 14px 14px 0;
		font-size: 14px;
	}
	.card .back p {
		margin: .5em 0;
		padding: 0 14px;
		font-size: 12px;
		line-height: 14px;
	}

}
/* -- CSS Grid - Borrowed from Bootstrap -- */
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.row {
  margin-left: -20px;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 940px;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.span6 {
  float: left;
  margin-left: 20px;
  width: 460px;
}
@media (max-width: 767px) {
  .container {
    width: auto;
  }
  .span6 {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }
  .card {
    margin: 20px auto 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 724px;
  }
  .span6 {
    width: 352px;
  }
}

